{%extends 'base.html' %}
{%load crispy_forms_tags %}

{% block content %}
<div class="container w-50 p-5 mt-5 border border-3 border-danger">
    <h1 class="text-center">OTP verificataion</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <input type="text" class="'form-control" placeholder="OTP Number" name="o">
        </div>
        
        <div class="mb-3 mt-3">
            <input type="submit" value='Send OTP' class="btn btn-primary text-center">
        </div>
    </form>
</div>

{% endblock %}